.fields
  .control
    .span3
      = f.select :source_experiment_id, Experiment.all.map{|c| [c.name,c.id]}
      =f.hidden_field :experiment_id
  .clear
  =link_to_remove_fields "Удалить", f
  .clear